body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

.card{
background:#1e293b;
padding:15px;
margin:10px;
border-radius:10px;
}

.center{
width:300px;
margin:auto;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
padding:20px;
}

.hidden{
display:none;
}

input,button,select{
padding:8px;
margin:5px;
width:80%;
}